[submodule "context/ingest-validation-tools"]
	path = context/ingest-validation-tools
	url = https://github.com/hubmapconsortium/ingest-validation-tools.git
[submodule "context/app/markdown/docs"]
	path = context/app/markdown/docs
	url = https://github.com/hubmapconsortium/portal-docs.git
