<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='titles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='todo-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sticky-footer.css') }}">
    {% block extra_stylesheets %}{% endblock %}

    <title>{% block title_text %}{% endblock %} | HuBMAP</title>
  </head>

  <body>
    {% include 'fragments/header.html' %}

    <div class="container-fluid">
      <div class="row p-2">
        <div class="col">
          {% block title %}{% endblock %}

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <section class="no-content">
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              </section>
            {% endif %}
          {% endwith %}

          <section>
            {% block content %}{% endblock %}
          </section>
        </div>
      </div>
    </div>

    {% include 'fragments/footer.html' %}

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
