<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='titles.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='todo-styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
    {% block extra_stylesheets %}{% endblock %}

    <title>{% block title_text %}{% endblock %} | HuBMAP</title>
    <script>
      const isAuthenticated = {{ 'true' if is_authenticated else 'false' }};
    </script>
  </head>

  <body>
    <header id="react-header"></header>
    <div class="container-fluid main-content container-lg">
      <div class="row p-2">
        <div class="col">
          {% include 'fragments/flash.html' %}
          {% block title %}{% endblock %}
          <section>
            {% block content %}{% endblock %}
          </section>
        </div>
      </div>
    </div>
    <footer id="react-footer"></footer>
    <script src="{{ url_for('static', filename='public/bundle.js') }}"></script>
  </body>
</html>
