<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HuBMAP CCF Exploration User Interface (CCF-EUI)</title>
  <base href="https://cdn.jsdelivr.net/gh/hubmapconsortium/ccf-ui@2/">
  <script>
    window.dbOptions = {
      hubmapDataService: 'search-api',
      hubmapPortalUrl: '{{ url_root }}',
      hubmapDataUrl: '{{ config['ELASTICSEARCH_ENDPOINT'] + config['CCF_INDEX_PATH'] }}',
      hubmapAssetsUrl: '{{ config['ASSETS_ENDPOINT'] }}',
      hubmapToken: '{{ nexus_token }}'
    };
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body class="mat-typography">
  <ccf-eui></ccf-eui>
  <script src="runtime-es2015.js" type="module"></script>
  <script src="runtime-es5.js" nomodule defer></script>
  <script src="polyfills-es5.js" nomodule defer></script>
  <script src="polyfills-es2015.js" type="module"></script>
  <script src="main-es2015.js" type="module"></script>
  <script src="main-es5.js" nomodule defer></script>
</body>

</html>
