{% extends 'pages/base.html' %}

{% block title %}
  <h1>{% block title_text %}401: Unauthorized{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
  Unauthorized: Either your credentials have expired, or they were never granted.
</p>
<ul>
  <li>If you have used the HuBMAP Portal before, then <a href="/logout">logout</a> and log back in.</li>
  <li>If you have not used the HuBMAP Portal before, then <a href="https://profile.hubmapconsortium.org/">create an account</a>.</li>
</ul>
{% endblock %}
