{% extends 'pages/base.html' %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/@hms-dbmi-bgm/react-workflow-viz@0.1.0/dist/react-workflow-viz.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vitessce@0.0.19/umd/main.css">

{% endblock %}

{% block title %}
  <div class="row">
    <div class="col">
      <h1>{% block title_text %}{{ entity['description'] }}{% endblock %}</h1>
    </div>
    <div class="col">
      <div>Type: {{ type }}</div>
      <h2>{{ entity['display_doi'] }}</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% block details_base_content %}
    <div class="row">
      <div class="col">
        <dl>
          <dt>Contributor</dt>
          <dd>{{ entity['provenance_user_displayname'] }} ({{ entity['provenance_user_email'] }})</dd>

          <dt>Group</dt>
          <dd>{{ entity['provenance_group_name'] }}</dd>
        </dl>
      </div>

      <div class="col">
        <dl>
          <dt>Created</dt>
          <dd>{{ entity['created'] }}</dd>

          <dt>Modified</dt>
          <dd>{{ entity['modified'] }}</dd>
        </dl>
        <!--
          WARNING: UUID in API response seems to be wrong.
          https://github.com/hubmapconsortium/entity-api/issues/19
        -->
        <p><a href="{{ url_for('routes.details_ext', type=type, uuid=uuid, ext='json') }}">Raw JSON</a></p>
      </div>
    </div>

    {{ details_html|safe }}

    <div id="prov-vis">Provenance placeholder</div>
    <div id="vitessce">Vitessce placeholder</div>
  {% endblock %}
{% endblock %}

{% block extra_scripts %}
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/@hubmap/prov-vis@v0.0.1/umd/@hubmap/prov-vis.min.js"></script>
  <script src="https://unpkg.com/vitessce@0.0.19/umd/vitessce.min.js"></script>

  <script>
    hubmapProvVis.renderProvVis('prov-vis', {{ provenance|tojson }});
    vitessce.validateAndRender(
      {{ vitessce_conf|tojson }},
      'vitessce', // Target ID
      100 // Row-height in grid
    );
  </script>
{% endblock %}
