{% extends 'pages/base.html' %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/@hms-dbmi-bgm/react-workflow-viz@0.1.0/dist/react-workflow-viz.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vitessce@0.0.19/umd/main.css">

{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
<div id="react-details-content"></div>
<!--  {% block details_base_content %}-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <dl>-->
<!--          <dt>Contributor</dt>-->
<!--          <dd>{{ entity['provenance_user_displayname'] }} ({{ entity['provenance_user_email'] }})</dd>-->

<!--          <dt>Group</dt>-->
<!--          <dd>{{ entity['provenance_group_name'] }}</dd>-->
<!--        </dl>-->
<!--      </div>-->

<!--      <div class="col">-->
<!--        <dl>-->
<!--          <dt>Created</dt>-->
<!--          <dd>{{ entity['created'] }}</dd>-->

<!--          <dt>Modified</dt>-->
<!--          <dd>{{ entity['modified'] }}</dd>-->
<!--        </dl>-->
<!--        &lt;!&ndash;-->
<!--          WARNING: UUID in API response seems to be wrong.-->
<!--          https://github.com/hubmapconsortium/entity-api/issues/19-->
<!--        &ndash;&gt;-->
<!--        <p><a href="{{ url_for('routes.details_ext', type=type, uuid=uuid, ext='json') }}">Raw JSON</a></p>-->
<!--      </div>-->
<!--    </div>-->

<!--    {{ details_html|safe }}-->

<!--    <div id="prov-vis">Provenance placeholder</div>-->
<!--    <div id="vitessce">Vitessce placeholder</div>-->
<!--  {% endblock %}-->
<script>
  const dataJSON = {{ entity | tojson }};
  const provenanceJSON = {{ provenance | tojson }};
</script>
{% endblock %}
