<div class="d-flex flex-column flex-sm-row align-items-center p-3 px-sm-4 mb-3 bg-light border-bottom shadow-sm">

  {% set default_class='p-2 text-dark' %}
  {% set active_class='font-weight-bold' %}

  {% set index_path = url_for('routes.index') %}
  <a class="my-0 mr-sm-auto {{ default_class }} {{ active_class if request.path == index_path else '' }}"
     href="{{ index_path }}">HuBMAP</a>

  <nav class="my-2 my-md-0 mr-md-3">
    {% for type in ['Donor', 'Sample', 'Dataset'] %}
      {% set search_path='/search?entity_type[0]=' + type %}
      <a class="{{ default_class }}"
           href="{{ search_path }}">{{ type }}s</a>
    {% endfor %}

    {% set help_path = '/help' %}
    <a class="{{ default_class }} {{ active_class if request.path == help_path else '' }}"
       href="{{ help_path }}">Help</a>
  </nav>

  {% if is_authenticated %}
    <a class="btn btn-outline-primary" href="{{ url_for('routes_auth.logout') }}">Logout</a>
  {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('routes_auth.login') }}">Login</a>
  {% endif %}

</div>
