# Be careful that credentials in development environment do not leak into image!
**/app.conf
**/instance/

# Submodules:
**/.git

# Will be filled in by build:
**/node_modules/
app/static/public/
app/static/storybook-public/

# MacOS junk:
**/.DS_Store
