
# Frozenlist resolves to v1.3.0 otherwise, which fails to build on python 3.12
frozenlist>=1.4.1

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/318
tornado>=6.5

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/317
setuptools>=78.1.1

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/327
urllib3>=2.5.0

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/294
Jinja2>=3.1.6

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/290
certifi>=2024.7.4

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/289
cryptography>=44.0.1

# https://github.com/hubmapconsortium/portal-ui/security/dependabot/231
tqdm>=4.66.3