# Update requirements-dev.txt if this file changes:
# uv pip compile context/requirements-dev.in --universal --output-file context/requirements-dev.txt
pytest>=8.4.1
flake8>=7.3.0
pytest-mock>=3.14.1
autopep8>=2.3.2
pip-tools>=7.4.1
boto3>=1.39.3