# Update requirements.txt if this file changes:
# pip install pip-tools
# pip-compile --allow-unsafe --generate-hashes --output-file=context/requirements.txt context/requirements.in
Flask>=3.0.3
Flask[async]>=3.0.3
globus-sdk>=3.9.0
requests>=2.32.3
pyyaml>=6.0.1
python-datauri>=2.2.0
python-frontmatter>=1.1.0
hubmap-api-py-client>=0.0.11
hubmap-commons>=2.1.15
# As of 2023-08-24, this is the version of boto3 which is compatible with both the 
# portal-visualization->vitessce->ome-zarr dependency on aiobotocore~=2.5
# and the hubmap-commons dependency on boto3>=1.24.47
boto3==1.28.17

# Plain "git+https://github.com/..." references can't be hashed, so we point to a release zip instead.
https://github.com/hubmapconsortium/portal-visualization/archive/refs/tags/0.3.5.zip

# Security warning for older versions;
# Can be removed when commons drops prov dependency.
lxml>=4.9.1