Flask==1.1.1
globus-sdk==1.9.0
requests==2.22.0
pyyaml==5.2
python-datauri==0.2.8
python-frontmatter==0.5.0
# COMMONS_BRANCH controls the branch of hubmap-commons.
git+git://github.com/hubmapconsortium/commons.git@${COMMONS_BRANCH:-master}#egg=hubmap-commons
