# Update requirements.txt if this file changes:
# pip-compile context/requirements.in --generate-hashes --allow-unsafe --output-file context/requirements.txt
Flask>=2.0.1
globus-sdk>=3.9.0
requests>=2.27.1
pyyaml>=5.4
python-datauri>=0.2.8
python-frontmatter>=0.5.0
hubmap-api-py-client>=0.0.9
hubmap-commons>=2.0.12

# Plain "git+https://github.com/..." references can't be hashed, so we point to a release zip instead.
https://github.com/hubmapconsortium/portal-visualization/archive/refs/tags/0.0.6.zip

# Security warning for older versions;
# Can be removed when commons drops prov dependency.
lxml>=4.9.1
