Flask==2.0.1
globus-sdk==2.0.1
requests==2.27.1
pyyaml==5.4
python-datauri==0.2.8
python-frontmatter==0.5.0
hubmap-api-py-client==0.0.9
hubmap-commons==2.0.12
git+https://github.com/hubmapconsortium/portal-visualization.git@mccalluc/make-package#egg=portal-visualization
