<div class="d-flex flex-column flex-sm-row align-items-center p-3 px-sm-4 mb-3 bg-light border-bottom shadow-sm">

  {% set default_class='p-2 text-dark' %}
  {% set active_class='font-weight-bold' %}

  {% set home_path = url_for('routes.home') %}
  <a class="my-0 mr-sm-auto {{ default_class }} {{ active_class if request.path == home_path else '' }}"
     href="{{ home_path }}">HuBMAP</a>

  <nav class="my-2 my-md-0 mr-md-3">
    {% for type, props in types.items() %}
      {% if props['in_header'] %}

        {% set type_path = url_for('routes.browse', type=type) %}
        <a class="{{ default_class }} {{ active_class if request.path == type_path else '' }}"
           href="{{ type_path }}">{{ props['display_name'] }}</a>

      {% endif %}
    {% endfor %}

    {% set help_path = url_for('routes.help') %}
    <a class="{{ default_class }} {{ active_class if request.path == help_path else '' }}"
       href="{{ help_path }}">Help</a>
  </nav>

  <a class="btn btn-outline-primary" href="{{ url_for('routes.login') }}">Login</a>

</div>
