@import "~searchkit/theming/theme.scss";

.sk-layout__body {
    margin: 16px 0px 32px 0px;
}

.sk-panel__header {
    // We pull out the title prop and use it in the AccordionSummary.
    // Easier to hide with CSS than change the rendering.
    display: none;
}

.sk-layout__filters, .sk-layout__results {
    // We want it flush on left and right:
    margin: 0px;
}

.sk-layout__results {
    box-shadow: none;
    background-color:transparent;
}

.sk-results-list {
    padding: 0px;
}

.sk-layout__filters {
  height: fit-content;
  background-color: white;
}

.sk-layout__filters {
    // Spacing between filters and results:
    margin-right: 16px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.sk-item-list-option input.sk-item-list-option__checkbox {
    margin: 0 4px 0 0;
}

.sk-item-list-option {
    padding-top: 8px;
    line-height: 120%;
}

.sk-item-list-option__text {
    // Same weight, even if .is-active:
    font-weight: 200 !important;
    color: #000;
}

.sk-refinement-list__view-more-action {
    color: #3781D1;
}

.sk-pagination-navigation {
  margin: 0px;
}

.sk-pagination-navigation .sk-toggle-option:first-child,
  .sk-pagination-navigation .sk-toggle-option:last-child {
    color: #444A65;
}

.sk-pagination-navigation .sk-toggle-option {
    background-color: transparent;
}

.sk-toggle-option.is-active {
background-color: #444A65;
border-color: #444A65;
}

.sk-pagination-navigation .sk-toggle-option:first-child.is-disabled,
  .sk-pagination-navigation .sk-toggle-option:last-child.is-disabled {
    color: #ddd
  }

  .sk-search-box form{
    border: 1px solid #636363;
    border-radius: 8px;
    background-color: white;
  }

  .sk-search-box__icon{
      opacity: 1;
  }

  .sk-search-box__icon:before{
    fill: #444A65;
    background: url('~images/search-icon.svg') no-repeat top left;
  }