@import "~searchkit/theming/theme.scss";

.sk-layout__body {
    margin: 16px 0px;
}

.sk-panel__header {
    // We pull out the title prop and use it in the AccordionSummary.
    // Easier to hide with CSS than change the rendering.
    display: none;
}

.sk-layout__filters, .sk-layout__results {
    // We want it flush on left and right:
    margin: 0px;
}
.sk-layout__filters {
    // Spacing between filters and results:
    margin-right: 16px;
}

.sk-item-list-option input.sk-item-list-option__checkbox {
    margin: 0 4px 0 0;
}

.sk-item-list-option {
    padding-top: 8px;
    line-height: 120%;
}

.sk-item-list-option__text {
    // Same weight, even if .is-active:
    font-weight: 200 !important;
    color: #000;
}

.sk-refinement-list__view-more-action {
    color: #3781D1;
}
