// For example: This makes the "View all" links red.
// $sk-action-text-color: red;

@import "~searchkit/theming/theme.scss";

.sk-layout__body {
    margin: 0px;
}

.sk-table {
    width: '100%';

    tbody tr:hover {
        border: 1px solid grey;
    }

    // Force <a> to fill each cell, so the whole row is clickable.
    // https://stackoverflow.com/questions/3966027
    td {
        overflow: hidden;
    }
    td a {
        display: block;
        margin: -10em;
        padding: 10em;
        color: rgb(0,0,0);
    }

    td:first-child a {
        color: #3781D1;
    }
}