{% extends 'pages/base.html' %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/@hms-dbmi-bgm/react-workflow-viz@0.1.0/dist/react-workflow-viz.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vitessce@0.0.18/umd/main.84366ff2.css">

{% endblock %}

{% block title %}
  <h1 class="no-content">{% block title_text %}Details {{ type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="no-format">
    {% block details_base_content %}
      <dl>
        <dt>Contributor</dt>
        <dd>{{ entity['provenance_user_displayname'] }}</dd>

        <dt>Email</dt>
        <dd>{{ entity['provenance_user_email'] }}</dd>

        <dt>Group</dt>
        <dd>{{ entity['provenance_group_name'] }}</dd>

        <dt>Created</dt>
        <dd>{{ entity['created'] }}</dd>

        <dt>Modified</dt>
        <dd>{{ entity['modified'] }}</dd>
      </dl>

      {{ details_html|safe }}

      <div id="prov-vis">Provenance placeholder</div>
      <div id="vitessce">Vitessce placeholder</div>
    {% endblock %}
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/@hubmap/prov-vis@v0.0.1/umd/@hubmap/prov-vis.min.js"></script>
  <script src="https://unpkg.com/vitessce@0.0.18/umd/vitessce.min.js"></script>

  <script>
    hubmapProvVis.renderProvVis('prov-vis', {{ provenance|tojson }});
    vitessce.validateAndRender(
      {
        name: 'Hello World',
        description: 'Hello World?',
        layers: [],
        staticLayout: [
          { component: 'description',
            props: {
              description: 'Hello World!',
            },
            x: 0, y: 0, w: 12, h: 1 }
        ]
      },
      'vitessce', // Target ID
      100 // Row-height in grid
    );
  </script>
{% endblock %}
