{% extends 'pages/base.html' %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/@hms-dbmi-bgm/react-workflow-viz/dist/react-workflow-viz.min.css">
{% endblock %}

{% block title %}
  <h1 class="no-content">{% block title_text %}Details {{ type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="no-content">
    {% block details_base_content %}
      {{ details_html|safe }}
      <div id="prov-vis">Provenance placeholder</div>
    {% endblock %}
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/@hubmap/prov-vis@v0.0.1/umd/@hubmap/prov-vis.min.js"></script>

  <script>
    hubmapProvVis.renderProvVis('prov-vis', {{ provenance|tojson }});
  </script>
{% endblock %}
