:root {
    --foot-height: 60px;
    --header-height: 60px;
}
body {
    left: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.navLink {
    color: #ffffff;
    text-decoration: none;
}

.navLink:hover {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

.list-header {
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
}

.expansion-header {
    font-weight: bolder;
    font-size: 2.6rem;
}

.page-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content{
    flex-grow: 1;
}

.container-lg {
    max-width: 1240px;
}

.footer {
    height: var(--foot-height);
    width: 100%;
    line-height: var(--foot-height); /* Vertically center the text there */
}
