body {
    left: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.navLink {
    color: #ffffff;
    text-decoration: none;
}

.navLink:hover {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

.list-header {
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
}

.expansion-header {
    font-weight: bolder;
    font-size: 2.6rem;
}

/* https://css-tricks.com/couple-takes-sticky-footer/ */
.main-content {
    min-height: calc(100vh - 120px);
}

.container-lg {
    max-width: 1240px;
}

.footer {
    height: 60px;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
}
