:root {
  --header-height: 64px;
}

html {
  scroll-padding-top: calc(var(--header-height) + 10px);
}

body {
  left: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

li {
  list-style: none;
}

.main-content {
  flex-grow: 1;
  display: flex;
}

#react-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-lg {
  max-width: 1240px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}