@import '~searchkit/theming/theme.scss';

$primary-purple: #444a65;
$secondary-gray: #636363;
$text-primary: rgba(0, 0, 0, 0.87);

.sk-layout__body {
  margin: 16px 0px 32px 0px;
}

.sk-selected-filters {
  // Together with 8px margin on SelectedFilterDiv, gives 16px between elements
  margin-top: 8px;
}

.sk-panel__header {
  // We pull out the title prop and use it in the AccordionSummary.
  // Easier to hide with CSS than change the rendering.
  display: none;
}

.sk-layout__filters,
.sk-layout__results {
  // We want it flush on left and right:
  margin: 0px;
}

.sk-layout__results {
  box-shadow: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.sk-results-list {
  padding: 0px;
}

.sk-layout__filters {
  height: fit-content;
  height: -webkit-fit-content;
  height: -ms-fit-content;
  height: -moz-fit-content;
  background-color: white;
}

.sk-layout__filters {
  // Spacing between filters and results:
  margin-right: 16px;
  // theme shadows 1 matches table
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sk-item-list-option input.sk-item-list-option__checkbox {
  margin: 0 4px 0 0;
}

.sk-item-list-option {
  padding: 4px 0px 4px 0px;
  line-height: 120%;
}

.sk-item-list-option__text,
.sk-item-list-option__count {
  // Same weight, even if .is-active:
  font-weight: 200 !important;
  color: #000;
}

.sk-refinement-list__view-more-action {
  color: #3781d1;
}

.sk-hierarchical-menu-list__root {
  padding-left: 20px; // Aligns with the labels that are preceded by checkboxes.
}

.sk-pagination-navigation {
  margin: 0px;
}

.sk-pagination-navigation .sk-toggle-option:first-child,
.sk-pagination-navigation .sk-toggle-option:last-child {
  color: $primary-purple;
}

.sk-pagination-navigation .sk-toggle-option {
  background-color: transparent;
}

.sk-toggle-option.is-active {
  background-color: $primary-purple;
  border-color: $primary-purple;
}

.sk-pagination-navigation .sk-toggle-option:first-child.is-disabled,
.sk-pagination-navigation .sk-toggle-option:last-child.is-disabled {
  color: #ddd;
}

.sk-search-box form {
  border: 1px solid $secondary-gray;
  border-radius: 8px;
}

.sk-search-box {
  background-color: white;
}

.sk-search-box__icon {
  opacity: 1;
}

.sk-search-box__icon:before {
  fill: $primary-purple;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 2 20 20' fill='%23444A65' width='20px' height='20px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
}

.sk-search-box.is-focused,
.sk-search-box {
  input.sk-search-box__text {
    color: $text-primary;
  }
}
