<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HuBMAP HRA Exploration User Interface</title>
  <base href="https://cdn.humanatlas.io/ui/ccf-eui/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <script src="wc.js" async></script>
</head>

<body>
  <ccf-eui
    logo-tooltip="HuBMAP Data Portal"
    home-url="https://portal.hubmapconsortium.org/"
    data-sources='["https://apps.humanatlas.io/api/ds-graph/hubmap?token={{groups_token}}"]'
    theme="hubmap"
  ></ccf-eui>
</body>

</html>