<!doctype html>
<title>{% block title %}{% endblock %} | HuBMAP</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav class="no-format">
  <ul>
    <li><a href="{{ url_for('main.home') }}">HuBMAP</a></li>
    <li><a href="{{ url_for('main.browse', type='donor') }}">Donors</a>
        | <a href="{{ url_for('main.browse', type='sample') }}">Samples</a>
        | <a href="{{ url_for('main.browse', type='dataset') }}">Datasets</a></li>
    <li><a href="{{ url_for('main.help') }}">Help</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
  </ul>
</nav>

<header class="no-content">
  {% block header %}{% endblock %}
</header>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <section class="no-content">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endwith %}

<section class="no-content">
  {% block content %}{% endblock %}
</section>
