<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='todo-styles.css') }}">

    <title>{% block title %}{% endblock %} | HuBMAP</title>
  </head>

  <body>
    {% include 'fragments/banner-top.html' %}

    <header class="no-content">
      {% block header %}{% endblock %}
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <section class="no-content">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endwith %}

    <section>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
