name: Python CI

on: [pull_request]

jobs:
  build:

    # Available versions:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        architecture: 'x64'

    - name: Install python main dependencies
      run: pip install -r context/requirements.txt

    - name: Install python dev dependencies
      run: pip install -r context/requirements-dev.txt

    - name: Run test script
      run: ./test-python.sh
